* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2vw;
    font-family: 'Circular Std';
}

/*************** Navbar Styles ***************/

nav {    
    box-shadow: 0 4px 10px 0 rgba(32, 36, 50, 0.1), 0 1px 4px 0 rgba(32, 36, 50, 0.1);
}

.nav-wrap {
    display: flex;
    /* background-color: aqua; */
    padding: 1%;
    justify-content: space-between;
    height: 12vh;
    margin: 0 5%;
}

.nav-img, ul {
    display: flex;

}

.ul-wrap, .nav-img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
    margin: 1vw;
}

li a {
    text-decoration: none;
    padding: 10%;
    color: #707070;
    letter-spacing: 1px;
}

.home {
    color: #ed6a6e;
}

.profile-img {
    height: 6vh;
    margin: 0 40%;
}

.logout-img {
    height: 4.5vh;
    /* margin: 0 60%; */
    margin-top: 0.75vh;
}

/*************** Container Styles ***************/

.container-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    /* background-color: pink; */
    /* left: 50%;
    transform: translate(-50%); */
}

.container {
    width: 70%;
    margin-bottom: 6vh;
    /* background-color: beige; */
}

.container h2 {
    margin-top: 5vh;
    font-size: 2.5vw;
    color: #ed6a6e;
}

.new {
  position: fixed;
  bottom: 7vh;
  right: 5vw;
  height: 10.5vh;
}

/*************** Post container Styles ***************/

.posts-container {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.postsHolder {
    margin: 2vh 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);   
    border-radius: 12px;
    height: 25vh;
    padding: 0.5vw 1.5vw;
}

.postsHolder:nth-child(even) {
    margin-left: 1vw;
}

.postsHolder:nth-child(odd) {
    margin-right: 1vw;
}

.user {
    display: flex;
    margin-top: 1vh
}

.post-img {
    height: 5vh;
}

.username {
    margin-top: 1vh;
    margin-left: 0.5vw;
    font-size: 1.2vw;  
}

.edit {
    margin-top: 1vh;
    margin-left: 19vw;
    height: 3.5vh;
}

.btn {
    margin-top: 1.2vh;
    margin-left: 1vw;
    background-color: #ed6a6e;
    border: 0;
    /* position: relative; */
    color: #FEFEFE;
    border-radius: 2vw;
    padding: 0.7vh 0.7vw;
    font-size: 0.9vw;
}

.btn:hover{
    cursor: pointer;
}

.created {
    margin-top: 1vh;
    font-size: 1vw;
    color: #707070
}

.post-content {
    margin: 0.75vw 0;
    max-width: 28vw;
    font-size: 1.2vw
}

a {
    text-decoration: none;
}

/*************** Delete prompt Styles ***************/

.confirm-del {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 50vh;
    width: 40vw;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);   
    border-radius: 20px;
}

.text-wrap {
    width: 35vw;
}

.confirm-del h1 {
    margin-top: 10vh;
    font-size: 2.2vw;
}

.confirm-del p{
    margin-top: 5vh;
    font-size: 1.8vw;
}

.confirm-del .btn-wrap {
    display: flex;
}

.confirm-del .btn {
    background-color: #ed6a6e;
    border: 0;
    margin-top: 11vh;
    color: #FEFEFE;
    border-radius: 2vw;
    padding: 1.5vh 2.7vw;
    font-size: 1.4vw;
    position: absolute;
    top: 25vh;
}

.delete {
    left: 7vw;
}

.cancel {
    right: 8vw
}

.confirm-del a {
    text-decoration: none;
}

.hide {
    display: none;
}